<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bibliotecar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Bibliotecar.Properties.Settings>
            <setting name="strFiledataName" serializeAs="String">
                <value />
            </setting>
            <setting name="NameAuthor" serializeAs="String">
                <value>author</value>
            </setting>
            <setting name="NameAuthorlink" serializeAs="String">
                <value>authorlink</value>
            </setting>
            <setting name="NameBook" serializeAs="String">
                <value>book</value>
            </setting>
            <setting name="NameSeries" serializeAs="String">
                <value>series</value>
            </setting>
            <setting name="nameBooktags" serializeAs="String">
                <value>booktags</value>
            </setting>
            <setting name="ameBookanno" serializeAs="String">
                <value>bookanno</value>
            </setting>
            <setting name="strFolderLib" serializeAs="String">
                <value />
            </setting>
        </Bibliotecar.Properties.Settings>
    </userSettings>
</configuration>